{
  "drill_db": {
    "type": "postgres",
    "host": "127.0.0.1",
    "port": 5433,
    "database": "mydb",
    "user": "postgres",
    "password_env": "DRILL_DB_PASSWORD",
    "process_type": "DRILLING",
    "query_file": "queries/drill_db.sql",
    "enabled": true
  },
  "example_db": {
    "type": "postgres",
    "host": "192.168.1.80",
    "port": 5432,
    "database": "example_db",
    "user": "postgres",
    "password_env": "EXAMPLE_DB_PASSWORD",
    "process_type": "EXAMPLE",
    "query":"SELECT * FROM example_table;",
    "enabled": false
  }
}

